@font-face {
  font-family: "Gotham";
  src: url(../Gotham-Font/Gotham/Gotham-Bold.otf);
}

@font-face {
  font-family: "Gotham Thin";
  src: url(../Gotham-Font/Gotham/Gotham-Thin.otf);
}

/* Responsive Breakpoint */
@media only screen and (max-width: 600px) {
  nav.menu {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 10px;
  }

  nav.menu-mobile {
    display: block;
    padding: 40px;
    font-family: "Gotham";
  }

  div.judul-mobile {
    display: block;
    font-size: 30px;
    padding: 150px 30px 30px 40px;
    font-family: "Gotham";
  }

  div.desc1 {
    display: none;
  }

  div.container-about {
    display: grid;
    grid-template-areas:
      "header"
      "content1"
      "content2"
      "img";
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.7fr;
    margin: 50px 50px 0px 50px;
  }

  div.subheader-about {
    font-size: 16px;
  }
  div.content1-about {
    font-size: 12px;
    grid-area: content1;
    padding: 30px 0px 0px 0px;
  }

  div.content2-about {
    font-size: 12px;
    grid-area: content2;
    padding: 20px 0px 0px 0px;
  }

  div.display-more-about {
    padding-top: 30px;
  }

  div.container-services {
    padding: 30px 50px 30px 50px;
  }

  div.img1-services {
    grid-area: img1;
    justify-self: center;
    padding: 20px 0 0 0;
  }

  div.img2-services {
    grid-area: img2;
    justify-self: center;
    padding: 20px 0 0 0;
  }

  div.img3-services {
    grid-area: img3;
    justify-self: center;
    padding: 20px 0 0 0;
  }

  div.container-news {
    display: grid;
    margin: 30px 50px;
    grid-template-areas:
      "header"
      "img"
      "content1"
      "content2";
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 0.7fr;
  }

  div.img-news {
    grid-area: img;
    justify-self: center;
    padding: 30px 0px 0px 0px;
  }

  div.content1-news {
    font-size: 12px;
    grid-area: content1;
    padding: 50px 0px 0px 0px;
  }

  div.content2-news {
    font-size: 12px;
    grid-area: content2;
    padding: 40px 0px 0px 0px;
  }

  div.sign-up {
    padding: 10px;
    background-color: rgb(238, 238, 238);
  }

  .subheader-sign3 input {
    width: 70%;
    padding: 10px;
    border: transparent;
    background-color: rgb(248, 248, 248);
  }

  button.subs-btn-sign {
    padding: 10px;
    border: transparent;
    background-color: rgb(247, 188, 88);
    color: rgb(245, 245, 245);
  }

  div.container-sign {
    display: block;
  }

  div.footer {
    margin-top: 50%;
  }

  div.content-footer {
    padding: 0px 30px;
  }

  div.content1-footer {
    grid-area: content1;
    padding: 10px 20px 10px 20px;
  }

  div.content2-footer {
    grid-area: content2;
    padding: 10px 20px 10px 20px;
    justify-self: center;
  }

  div.content3-footer {
    grid-area: content3;
    padding: 10px 20px 10px 20px;
  }

  div.footer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-template-areas: "content1 content2 content3";
    padding: 20px 20px 0px 20px;
    background-color: rgb(42, 42, 42);
    color: rgb(245, 245, 245);
    margin: 0px;
    font-size: 6px;
  }
}

/* @media only screen and (max-width: 1024px) {
  div.menu {
    grid-template-columns: 1fr 2fr 1fr;
  }

  nav.menu {
    padding: 10px 70px;
  }

  nav.menu ul {
    display: flex;
    justify-content: center;
  }

  div.content1-about {
    padding: 50px 0px 0px 0px;
    font-size: 12px;
  }

  div.content2-about {
    padding: 10px 0px 0px 0px;
    font-size: 12px;
  }

  div.display-more-about {
    padding-top: 20px;
  }

  div.container-services {
    padding: 0px 150px 50px 150px;
  }

  div.img1-services {
    padding-left: 0px;
  }

  div.img3-services {
    padding-right: 0px;
  }

  div.img-news {
    padding: 50px 0px 0px 0px;
  }

  div.judul-news {
    font-size: 12px;
    padding-top: 2px;
  }

  div.content1-news {
    font-size: 10px;
    padding: 60px 0px 0px 0px;
  }

  div.content2-news {
    font-size: 10px;
    padding: 10px 0px 0px 0px;
  }

  div.more-news {
    padding-top: 10px;
  }

  div.footer {
    font-size: 12px;
    padding: 30px 0px 0px 0px;
  }

  div.content1-footer {
    padding: 30px 0px 0px 50px;
  }
} */

.display {
  background-image: url(../public/bg1.jpg);
  height: 100vh;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}

/* Navigasi */

.menu-mobile {
  padding: 30px;
  font-family: "Gotham";
  display: none;
}

.heading-mobile {
  padding: 10px 10px 10px 50px;
}

.judul-mobile {
  font-size: 30px;
  padding: 120px 30px 30px 30px;
  font-family: "Gotham";
  display: none;
}

.subjudul1-mobile {
  padding: 10px 10px 10px 60px;
}

.btn-more-mobile {
  padding: 10px 30px;
  border: transparent;
  background-color: rgb(247, 188, 88);
  color: white;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-family: "Gotham";
  padding-top: 10px;
}

.menu .heading {
  font-size: 1.2em;
  text-align: center;
}

.menu .item {
  text-align: center;
}

.menu ul {
  padding: 0;
  list-style: none;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  font-size: 0.9em;
}

.menu1 {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px 0px 100px;
}

.menu-btn {
  background-color: transparent;
  border: transparent;
}

/* judul */

.desc {
  display: none;
}

.desc1 {
  padding: 200px 100px 100px 180px;
}

.judul {
  font-size: 50px;
  font-weight: 400;
}

.btn-more {
  padding: 10px 64px;
  border-radius: 2px;
  background-color: rgb(247, 188, 88);
  border: transparent;
  color: rgb(245, 245, 245);
}

/* container about */
.container-about {
  display: grid;
  grid-template-areas:
    "header header"
    "content1 img"
    "content2 img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.4fr 0.7fr;
  margin: 50px;
}

.header-about {
  grid-area: header;
  text-align: center;
  align-self: center;
}

.subheader-about {
  font-family: "Gotham";
  padding: 6px 0;
}

.subheader1-about {
  font-size: 12px;
}

.judul-content-about {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 6px;
}

.content1-about {
  grid-area: content1;
  padding: 50px 0px 0px 150px;
}

.content2-about {
  grid-area: content2;
  padding: 0px 0px 0px 150px;
}

.display-more-about {
  padding-top: 50px;
}

.more-about {
  color: white;
  padding: 12px 80px;
  border: transparent;
  background-color: rgb(247, 188, 88);
}

.img-about {
  grid-area: img;
  justify-self: center;
  padding: 30px 0px;
}

/* container services */
.container-services {
  display: grid;
  grid-template-areas: "header header header" "img1 img2 img3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  background-color: rgb(238, 238, 238);
  padding: 0px 50px 50px 50px;
}

.header-services {
  grid-area: header;
  text-align: center;
  align-self: center;
}

.img1-services {
  grid-area: img1;
  justify-self: center;
  padding-left: 150px;
}

.img2-services {
  grid-area: img2;
  justify-self: center;
}

.img3-services {
  grid-area: img3;
  justify-self: center;
  padding-right: 150px;
}

/* container news */
.container-news {
  display: grid;
  margin: 50px;
  grid-template-areas:
    "header header"
    "img content1"
    "img content2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 0.4fr 0.7fr;
}

.header-news {
  grid-area: header;
  text-align: center;
  align-self: center;
}

.img-news {
  grid-area: img;
  justify-self: center;
  padding: 50px 0px 0px 150px;
}

.judul-news {
  font-family: "Gotham";
  font-size: 15px;
  padding-bottom: 6px;
}

.subjudul-news {
  padding-bottom: 6px;
  color: rgb(247, 188, 88);
}

.more-news {
  padding-top: 14px;
  font-family: "Gotham";
}

.content1-news {
  grid-area: content1;
  padding: 60px 150px 0px 20px;
}

.content2-news {
  grid-area: content2;
  padding: 20px 150px 0px 20px;
}

input {
  width: 18%;
  padding: 10px;
  border: transparent;
  background-color: rgb(248, 248, 248);
}

.subs-btn-sign {
  padding: 10px 30px;
  border: transparent;
  background-color: rgb(247, 188, 88);
  color: rgb(245, 245, 245);
}

.header-sign {
  text-align: center;
  justify-self: center;
}

.subheader-sign3 {
  padding: 14px;
}

.subheader-sign1 {
  padding: 4px;
}

.sign-up {
  padding: 50px;
  background-color: rgb(238, 238, 238);
}

.container-sign {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.subsign {
  display: grid;
  gap: 24px;
  grid-auto-flow: column;
  padding: 20px;
}

.box1-sign {
  margin-top: 20px;
  padding: 30px;
  grid-area: box1;
  justify-self: center;
  border: solid 5px black;
  box-shadow: inset 0px 6px 0 rgba(43, 42, 42, 0.26);
}

.box2-sign {
  margin-top: 20px;
  padding: 30px;
  grid-area: box2;
  justify-self: center;
  border: solid 5px black;
  box-shadow: inset 0px 6px 0 rgba(43, 42, 42, 0.26);
}

.box3-sign {
  margin-top: 20px;
  padding: 30px;
  grid-area: box3;
  justify-self: center;
  border: solid 5px black;
  box-shadow: inset 0px 6px 0 rgba(43, 42, 42, 0.26);
}

.box4-sign {
  margin-top: 20px;
  padding: 30px;
  grid-area: box4;
  justify-self: center;
  border: solid 5px black;
  box-shadow: inset 0px 6px 0 rgba(43, 42, 42, 0.26);
}

.box5-sign {
  margin-top: 20px;
  padding: 30px;
  grid-area: box5;
  justify-self: center;
  border: solid 5px black;
  box-shadow: inset 0px 6px 0 rgba(43, 42, 42, 0.26);
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.8fr;
  grid-template-areas: "content1 content2 content3";
  padding: 30px 100px;
  background-color: rgb(42, 42, 42);
  color: rgb(245, 245, 245);
}

.content1-footer {
  grid-area: content1;
  padding: 30px 50px 0px 50px;
}

.content2-footer {
  grid-area: content2;
  padding: 30px 50px 0px 50px;
  justify-self: center;
}

.content3-footer {
  grid-area: content3;
  padding: 30px 50px 0px 50px;
}

.judul-footer {
  font-family: "Gotham";
  padding-bottom: 10px;
}

p {
  padding: 0;
  margin: 0;
}

/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 78px;
  height: 100%;
  background-color: #111;
  padding: 6px 14px;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 240px;
}

.sidebar .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.sidebar .active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn {
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 122px;
  border-radius: 6px;
  line-height: 35px;
  text-align: center;
  top: 0;
  transform: translateY(-50%, -50%);
  height: 35px;
  width: 122px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: block;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  top: 50%;
  opacity: 1;
}

.sidebar ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
}

.sidebar ul li a:hover {
  color: #11101d;
  background: #fff;
}

.sidebar ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar.links_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 16px;
  color: #fff;
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5 ease;
}

.sidebar ul li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}

.nav_list {
  padding: 0;
}

.logo_icon {
  background-color: transparent;
  border: transparent;
} */
